<ngx-smart-modal #edit identifier="edit"
  customClass="nsm-dialog nsm-dialog-animation-ltr medium-modal nsm-dialog-open msg-modal ">
  <form [formGroup]="registerForm" (ngSubmit)="save()">
    <div class="row">
      <div class="col-md-12 text-center mt-3" >
          <p class="lead">edit {{ edit?.getData()?.title }}</p>
      </div>
      <div class="col-md-6">
          <div class="form-group">
            <label for="basic-url">Name</label>
          <input formControlName="title" [value]="edit?.getData()?.title" [ngClass]="{ 'is-invalid': submitted && f.title?.errors }"
           class="form-control" type="text" placeholder="Name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="basic-url">Genre</label>
          <select formControlName="idGenre" [value]="edit?.getData()?.idGenre" 
            class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.idGenre?.errors }">
            <option disabled value="">Select</option>
            <option *ngFor="let item of genreList" value="{{item.id}}">{{item.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
          <div class="form-group">
            <label for="basic-url">Description</label>
            <textarea formControlName="description" [value]="edit?.getData()?.description" class="form-control"  
            [ngClass]="{ 'is-invalid': submitted && f.description?.errors }" name="" id="" cols="30" rows="3"></textarea>
          </div>
        </div>
      <div class="col-md-6">
        <div class="form-group">
            <label for="basic-url">Release Date</label>
          <input placement="top" [value]="edit?.getData()?.release" (focus)="d.toggle()" ngbDatepicker #d="ngbDatepicker"
            class="form-control unstyled" formControlName="release" [ngClass]="{ 'is-invalid': submitted && f.release?.errors }" type="date" placeholder="Release Date">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="basic-url">Cover</label>
          <input class="form-control" type="file" placeholder="">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <button type="submit"  [disabled]="loading" class="btn btn-success pull-right">
            <span  *ngIf="!loading">
              Save
            </span>
            <mat-spinner *ngIf="loading" [color]="'#fff'" [diameter]="20"></mat-spinner>
          </button>
        </div>
      </div>
    </div>
    
  </form>
  </ngx-smart-modal>