
thead{
    th{
        border-top: none;
    }
}
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.input-group , .form-group{
    min-width: 100px;
}