<div>
    <button [disabled]="!genreList?.length" (click)="add()" placement="top" ngbTooltip="Add a new CD" class="ml-2 mb-3 pull-right btn btn-success">
        <i class="fa fa-music"></i>
    </button>
    <button (click)="addGenre()" placement="top" ngbTooltip="Add a new Genre" class="mb-3 pull-right btn btn-success">
        <i class="fa fa-folder-open-o" aria-hidden="true"></i>
    </button>
</div>
<mat-progress-bar *ngIf="loading" [color]="'warn'" mode="indeterminate"></mat-progress-bar>
<table *ngIf="cdList?.length || listAuxiliare?.length" class="table table-hover">
  <thead>
      <tr>
      <th scope="col">Name</th>
      <th style="width:25%" scope="col">Description</th>
      <th style="width:20%" scope="col">Genre</th>
      <th scope="col">Release Date</th>
      <th style="width:20%" class="text-right" scope="col">Options</th>
      </tr>
  </thead>
  <tbody>
      <tr>
      <th>
          <div class="input-group">
          <input [(ngModel)]="CD.title" (input)="filterHead('title')"  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          <div class="input-group-append">
              <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-search"></i></span>
          </div>
          </div>
      </th>
      <th>
          <div class="input-group">
          <input [(ngModel)]="CD.description" (input)="filterHead('description')" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          <div class="input-group-append">
              <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-search"></i></span>
          </div>
          </div>
      </th>
      <th>
          <div class="form-group">
            <select [(ngModel)]="CD.idGenre"  (change)="filterHead('idGenre')" class="form-control">
                <option value="">Select</option>
                <option *ngFor="let item of genreList" value="{{item.id}}">{{item.title}}</option>
            </select>
          </div>
      </th>
      <th>
        <div class="form-group">
          <input [(ngModel)]="CD.release" (ngModelChange)="filterHead('release')" placement="top" (focus)="d.toggle()" ngbDatepicker #d="ngbDatepicker" type="date" class="form-control unstyled" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
      </th>
      <th>

      </th>
      </tr>
      <tr *ngFor="let item of cdList">
      
        <td>{{item.title}}</td>
        <th scope="row"><small>{{item.description}}</small></th>
        <td>{{ geGenre(item.idGenre)}}</td>
        <td>{{item.release | date}}</td>
        <td class="text-right">
            <button [disabled]="!item.cover" (click)="showCover(item)" type="button" ngbTooltip="View cover" class=" btn btn-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            <button (click)="edit(item)" type="button" ngbTooltip="Edit this CD" class="ml-2 btn btn-primary ">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button (click)="openDialog(item.id)" type="button" class="btn btn-warning ml-2 ">
                <i class="fa fa-trash"  ngbTooltip="Remove this CD" aria-hidden="true"></i>
            </button>
        </td>
  </tbody>
</table>
<app-add-modal [genreList]="genreList" (update)="update()"></app-add-modal>
<app-edit-modal [genreList]="genreList" (update)="update()"></app-edit-modal>
<app-add-genre-modal (update)="update()"></app-add-genre-modal>
<app-image></app-image>